form.chat-form(method="post" name="chat-form")
	+btn({icon_l: 'icon--clip', icon_width: 'icon--18'})(class="btn--circle")
	+input-border-radius({
		input: {label_text: false, type: 'text', name: 'serch-massage', placeholder: 'Type to message'}
	})
	+btn({icon_l: 'icon--plain', type: 'submit'})(class="btn--circle btn--circle--bg")