mixin referral-item(data)
	div.referral-item(class!=attributes.class)
		div.referral__status
			+badge(data.badge)(class=data.badge_class)
		div.referral__user
			div.referral__user-pik
				+user-pik(data.user_pik)(class="user-pic--big")
			div.referral__user-info
				p.referral__name.text.text--sm!=data.name
				a.referral__email.text.text--sm.link.link--gray(href="mailto:email")!=data.email
		div.referral__btn
			+btn({icon_l: 'icon--more', icon_width: 'icon--18'})(class="icon--block icon--block-gray")