div.slider.slider--registr
	div.slider__item
		div.slider__body
			div.slider__img
				img(src="images/slider__img-01.png" alt="Dasboard")
			h1.slider__title.h1 Dashlight
			p.slider__text.text.text--black Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus purus a, mauris quisque habitasse

	div.slider__item
		div.slider__body
			div.slider__img
				img(src="images/slider__img-01.png" alt="Dasboard")
			h1.slider__title.h1 Dashlight
			p.slider__text.text.text--black Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus purus a, mauris quisque habitasse

	div.slider__item
		div.slider__body
			div.slider__img
				img(src="images/slider__img-01.png" alt="Dasboard")
			h1.slider__title.h1 Dashlight
			p.slider__text.text.text--black Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus purus a, mauris quisque habitasse

	div.slider__item
		div.slider__body
			div.slider__img
				img(src="images/slider__img-01.png" alt="Dasboard")

			h1.slider__title.h1 Dashlight
			p.slider__text.text.text--black Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus purus a, mauris quisque habitasse			