doctype html
html(lang="ru")
	include include/head.pug
	+head()

	body
		include ../blocks/mixins.pug
		div.intro-page
			div.container
				div.row.justify-content-center
					div.col-12.col-lg-6
						div.intro-page__top
							+logo({img: 'logo.svg', alt: 'Crypto', title: 'Crypto'})
						ul.intro-page__list
							li.intro-page__item
								a(href="home" target="_blank") Home
							li.intro-page__item
								a(href="chat" target="_blank") Chat
							li.intro-page__item
								a(href="wallet" target="_blank") Wallet
							li.intro-page__item
								a(href="order-book" target="_blank") Order Book
							li.intro-page__item
								a(href="transactions" target="_blank") Transactions
							li.intro-page__item
								a(href="settings" target="_blank") Settings
							li.intro-page__item
								a(href="register" target="_blank") Register
							li.intro-page__item
								a(href="sign-in" target="_blank") Sign-In
							li.intro-page__item
								a(href="referral" target="_blank") Referral

							li.intro-page__item
								a(href="style-guide" target="_blank") style-guide

		include include/script.pug