doctype html
html(lang="en")
	include include/head.pug
	+head('Referral')

	body
		include ../blocks/mixins.pug
		div.wrapper
			include ../blocks/organisms/header/header.pug

			div.body
				include ../blocks/organisms/sidebar/sidebar.pug

				main.main
					include ../blocks/organisms/referral/referral.pug
			div.overlay

		include include/script.pug