doctype html
html(lang="en")
	include include/head.pug
	+head('Register')

	body
		include ../blocks/mixins.pug
		div.wrapper
			include ../blocks/organisms/registr-entry/registr-entry.pug

		include include/script.pug