doctype html
html(lang="en")
	include include/head.pug
	+head('Transactions')

	body
		include ../blocks/mixins.pug
		div.wrapper
			include ../blocks/organisms/header/header.pug
			
			div.body
				include ../blocks/organisms/sidebar/sidebar.pug

				main.main
					include ../blocks/organisms/transactions/transactions.pug
			div.overlay
		
		include include/script.pug