div.form.form--sigin
	form.form__form(action="#" method="post")
		div.form__item
			h3.h3 Sign-In
			p.text Access the DashLite panel using your email and passcode.
		div.form__item
			+input({label_text: 'Email or Username', type: 'text', name: 'name_email_2', placeholder: 'Enter your email address or username'})(class="input--border")
		div.form__item-big
			+input({label_text: 'Password', type: 'password', name: 'password_2', placeholder: 'Enter your password'})(class="input--border")
		div.form__item.form__checkbox
			+checkbox({name: 'accept'})
			p.text I agree to Dashlite 
				a.link(href="#" target="_blank") Privacy Policy
				|  & 
				a.link(href="#" target="_blank") Terms
		div.form__item-big
			+btn({text: 'Sign-In', type: 'submit'})(class="btn--block")
