.currency-card {
	/* 2 Block model */
	display: flex;
	flex-direction: column;
	padding-left: 24px;
	padding-right: 24px;
	@include space(padding, top, green);
	@include space(padding, bottom, green);

	/* 3 Typography */
	text-decoration: none;

	/* 4 Visual */
	background-color: $color-bg;
	outline: none;

	/* 5 Animation */
	transition: all $animation-speed;
}
.currency-card__top {
	/* 2 Block model */
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include space(margin, bottom, pink);
}
.currency-card__name-currency {
	/* 3 Typography */
	text-transform: uppercase;
}
.currency-card__total {
	/* 2 Block model */
	@include space(margin, bottom, blue);

	/* 3 Typography */
	text-transform: uppercase;
}
.currency-card__course {
	/* 3 Typography */
	text-transform: uppercase;
}
.currency-card:hover {
	/* 4 Visual */
	cursor: pointer;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.currency-card:focus {
	/* 4 Visual */
	cursor: pointer;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
.currency-card:active {
	/* 4 Visual */
	cursor: pointer;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */
