.message {
	/* 2 Block model */
	display: inline-block;
	padding: 6px 15px;

	/* 4 Visual */
	border-radius: 5px;
	background-color: $color-bg-4;
}

.message--green {
	/* 4 Visual */
	background-color: $color-bg-6;
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */
