include atoms/icon/icon.pug
include atoms/logo/logo.pug
include atoms/user-pik/user-pik.pug
include atoms/badge/badge.pug
include atoms/input/input.pug
include atoms/btn/btn.pug
include atoms/notification/notification.pug
include atoms/message/message.pug
include atoms/checkbox/checkbox.pug
include atoms/summary-item/summary-item.pug

include molecules/header-profile/header-profile.pug
include molecules/item-menu/item-menu.pug
include molecules/menu/menu.pug
include molecules/search/search.pug
include molecules/currency-card/currency-card.pug
include molecules/table-head/table-head.pug
include molecules/table-item/table-item.pug
include molecules/table/table.pug
include molecules/chat-user/chat-user.pug
include molecules/chat-message/chat-message.pug
include molecules/input-border-radius/input-border-radius.pug
include molecules/wallet-item/wallet-item.pug
include molecules/order-item/order-item.pug
include molecules/transactions-item/transactions-item.pug
include molecules/tabs/tabs.pug
include molecules/setting-item/setting-item.pug
include molecules/referral-item/referral-item.pug


- var name = '<p class="badge text text--sm text--bold"> Paused</p>';
- var name2 = '<p class="badge text text--sm text--bold badge--green"> Completed</p>';
//- - var name = +badge({text: 'Paused'})
//- - var name2 = +badge({text: 'Completed'})(class="badge--green")