div.chat
	div.container.container-fluid
		div.row
			div.col-12.col-lg-4
				div.chat__left
					div.chat__profile
						+chat-user({img: 'chat__img-01', alt: 'Jane Cooper', title: 'Jane Cooper', user_mod: 'user-pic--big user-pic--big-activ', title: 'Jane Cooper', text: 'Lorem ipsum dolor sit'})
					ul.chat__user-list
						li.chat__user-item
							+chat-user({img: 'chat__img-02', alt: 'Wade Warren', title: 'Wade Warren', user_mod: 'user-pic--big user-pic--big-activ', title: 'Wade Warren', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: 'notification--red'})
						li.chat__user-item
							+chat-user({img: 'chat__img-03', alt: 'Esther Howard', title: 'Esther Howard', user_mod: 'user-pic--big user-pic--big-activ', title: 'Esther Howard', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: false})
						li.chat__user-item
							+chat-user({img: 'chat__img-04', alt: 'Guy Hawkins', title: 'Guy Hawkins', user_mod: 'user-pic--big user-pic--big-activ', title: 'Guy Hawkins', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: false})
						li.chat__user-item
							+chat-user({img: 'chat__img-05', alt: 'Cameron Williamson', title: 'Cameron Williamson', user_mod: 'user-pic--big user-pic--big-activ', title: 'Cameron Williamson', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: 'notification--red'})
						li.chat__user-item
							+chat-user({img: 'chat__img-06', alt: 'Jacob Jones', title: 'Jacob Jones', user_mod: 'user-pic--big user-pic--big-activ', title: 'Jacob Jones', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: false})
						li.chat__user-item
							+chat-user({img: 'chat__img-07', alt: 'Cody Fisher', title: 'Cody Fisher', user_mod: 'user-pic--big user-pic--big-activ', title: 'Cody Fisher', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: false})
						li.chat__user-item
							+chat-user({img: 'chat__img-08', alt: 'Kristin Watson', title: 'Kristin Watson', user_mod: 'user-pic--big user-pic--big-activ', title: 'Kristin Watson', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: false})
						li.chat__user-item
							+chat-user({img: 'chat__img-09', alt: 'Albert Flores', title: 'Albert Flores', user_mod: 'user-pic--big user-pic--big-activ', title: 'Albert Flores', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: false})
						li.chat__user-item
							+chat-user({img: 'chat__img-10', alt: 'Ronald Richards', title: 'Ronald Richards', user_mod: 'user-pic--big user-pic--big-activ', title: 'Ronald Richards', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: 'notification--red'})
						li.chat__user-item
							+chat-user({img: 'chat__img-11', alt: 'Floyd Miles', title: 'Floyd Miles', user_mod: 'user-pic--big user-pic--big-activ', title: 'Floyd Miles', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: 'notification--red'})
						li.chat__user-item
							+chat-user({img: 'chat__img-12', alt: 'Jerome Bell', title: 'Jerome Bell', user_mod: 'user-pic--big user-pic--big-activ', title: 'Jerome Bell', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: false})
						li.chat__user-item
							+chat-user({img: 'chat__img-13', alt: 'Annette Black', title: 'Annette Black', user_mod: 'user-pic--big user-pic--big-activ', title: 'Annette Black', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: false})
						li.chat__user-item
							+chat-user({img: 'chat__img-13', alt: 'Annette Black', title: 'Annette Black', user_mod: 'user-pic--big user-pic--big-activ', title: 'Annette Black', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: false})
						li.chat__user-item
							+chat-user({img: 'chat__img-13', alt: 'Annette Black', title: 'Annette Black', user_mod: 'user-pic--big user-pic--big-activ', title: 'Annette Black', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: false})
						li.chat__user-item
							+chat-user({img: 'chat__img-06', alt: 'Jacob Jones', title: 'Jacob Jones', user_mod: 'user-pic--big user-pic--big-activ', title: 'Jacob Jones', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: false})
						li.chat__user-item
							+chat-user({img: 'chat__img-07', alt: 'Cody Fisher', title: 'Cody Fisher', user_mod: 'user-pic--big user-pic--big-activ', title: 'Cody Fisher', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: false})
						li.chat__user-item
							+chat-user({img: 'chat__img-08', alt: 'Kristin Watson', title: 'Kristin Watson', user_mod: 'user-pic--big user-pic--big-activ', title: 'Kristin Watson', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: false})
						li.chat__user-item
							+chat-user({img: 'chat__img-09', alt: 'Albert Flores', title: 'Albert Flores', user_mod: 'user-pic--big user-pic--big-activ', title: 'Albert Flores', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: false})
						li.chat__user-item
							+chat-user({img: 'chat__img-10', alt: 'Ronald Richards', title: 'Ronald Richards', user_mod: 'user-pic--big user-pic--big-activ', title: 'Ronald Richards', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: 'notification--red'})
						li.chat__user-item
							+chat-user({img: 'chat__img-11', alt: 'Floyd Miles', title: 'Floyd Miles', user_mod: 'user-pic--big user-pic--big-activ', title: 'Floyd Miles', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: 'notification--red'})
						li.chat__user-item
							+chat-user({img: 'chat__img-12', alt: 'Jerome Bell', title: 'Jerome Bell', user_mod: 'user-pic--big user-pic--big-activ', title: 'Jerome Bell', text: 'Lorem ipsum dolor sit', date: '4:32 PM', text_noti: '10', noti_mod: false})
			div.col-12.col-lg-8.chat__mobile
				div.chat__body
					div.chat__current-user
						+chat-user({img: 'chat__img-02', alt: 'Wade Warren', title: 'Wade Warren', user_mod: 'user-pic--big user-pic--big-activ', title: 'Wade Warren', text: 'Lorem ipsum dolor sit'})

					ul.chat__msg-list
						li.chat__msg-item
							+chat-message({
								user_pik:{img: 'chat__img-02', alt: 'Wade Warren', title: 'Wade Warren'},
								user_pik_mod: 'user-pic--big',
								user_message: {text: 'Lorem ipsum dolor sit amet, consectetur adipiscing, purus sit ametl.'},
								date: '4:32 PM'
							})
						li.chat__msg-item
							+chat-message({
								user_pik:{img: 'chat__img-01', alt: 'Jane Cooper', title: 'Jane Cooper'},
								user_pik_mod: 'user-pic--big',
								user_message: {text: 'Lorem ipsum dolor sit amet,  elit ut aliquam, purus venenatis.'},
								user_message_mod: 'message--green',
								date: '4:32 PM'
							})
						li.chat__msg-item
							+chat-message({
								user_pik:{img: 'chat__img-02', alt: 'Wade Warren', title: 'Wade Warren'},
								user_pik_mod: 'user-pic--big',
								user_message: {text: 'Lorem ipsum dolor sit amet, consectetur adipiscing, purus sit ametl.'},
								date: '4:32 PM'
							})
						li.chat__msg-item
							+chat-message({
								user_pik:{img: 'chat__img-01', alt: 'Jane Cooper', title: 'Jane Cooper'},
								user_pik_mod: 'user-pic--big',
								user_message: {text: 'Lorem ipsum dolor sit amet,  elit ut aliquam, purus venenatis.'},
								user_message_mod: 'message--green',
								date: '4:32 PM'
							})
						li.chat__msg-item
							+chat-message({
								user_pik:{img: 'chat__img-02', alt: 'Wade Warren', title: 'Wade Warren'},
								user_pik_mod: 'user-pic--big',
								user_message: {text: 'Lorem ipsum dolor sit amet, consectetur adipiscing, purus sit ametl.'},
								date: '4:32 PM'
							})
						li.chat__msg-item
							+chat-message({
								user_pik:{img: 'chat__img-01', alt: 'Jane Cooper', title: 'Jane Cooper'},
								user_pik_mod: 'user-pic--big',
								user_message: {text: 'Lorem ipsum dolor sit amet,  elit ut aliquam, purus venenatis.'},
								user_message_mod: 'message--green',
								date: '4:32 PM'
							})
						li.chat__msg-item
							+chat-message({
								user_pik:{img: 'chat__img-02', alt: 'Wade Warren', title: 'Wade Warren'},
								user_pik_mod: 'user-pic--big',
								user_message: {text: 'Lorem ipsum dolor sit amet, consectetur adipiscing, purus sit ametl.'},
								date: '4:32 PM'
							})
						li.chat__msg-item
							+chat-message({
								user_pik:{img: 'chat__img-01', alt: 'Jane Cooper', title: 'Jane Cooper'},
								user_pik_mod: 'user-pic--big',
								user_message: {text: 'Lorem ipsum dolor sit amet,  elit ut aliquam, purus venenatis.'},
								user_message_mod: 'message--green',
								date: '4:32 PM'
							})
						li.chat__msg-item
							+chat-message({
								user_pik:{img: 'chat__img-02', alt: 'Wade Warren', title: 'Wade Warren'},
								user_pik_mod: 'user-pic--big',
								user_message: {text: 'Lorem ipsum dolor sit amet, consectetur adipiscing, purus sit ametl.'},
								date: '4:32 PM'
							})
						li.chat__msg-item
							+chat-message({
								user_pik:{img: 'chat__img-01', alt: 'Jane Cooper', title: 'Jane Cooper'},
								user_pik_mod: 'user-pic--big',
								user_message: {text: 'Lorem ipsum dolor sit amet,  elit ut aliquam, purus venenatis.'},
								user_message_mod: 'message--green',
								date: '4:32 PM'
							})
						li.chat__msg-item
							+chat-message({
								user_pik:{img: 'chat__img-02', alt: 'Wade Warren', title: 'Wade Warren'},
								user_pik_mod: 'user-pic--big',
								user_message: {text: 'Lorem ipsum dolor sit amet, consectetur adipiscing, purus sit ametl.'},
								date: '4:32 PM'
							})
						li.chat__msg-item
							+chat-message({
								user_pik:{img: 'chat__img-01', alt: 'Jane Cooper', title: 'Jane Cooper'},
								user_pik_mod: 'user-pic--big',
								user_message: {text: 'Lorem ipsum dolor sit amet,  elit ut aliquam, purus venenatis.'},
								user_message_mod: 'message--green',
								date: '4:32 PM'
							})
					div.chat__form
						form.chat-form(method="post" name="chat-form")
							+btn({icon_l: 'icon--clip', icon_width: 'icon--18'})(class="btn--circle")
							+input-border-radius({
								input: {label_text: false, type: 'text', name: 'serch-massage', placeholder: 'Type to message'}
							})
							+btn({icon_l: 'icon--plain', type: 'submit'})(class="btn--circle btn--circle--bg")