.table {
	/* 2 Block model */
	width: 100%;
	margin: 0 auto;
	padding: 0;

	/* 4 Visual */
	border-collapse: collapse;
	border: none;
	border-spacing: 0;
}

/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */
