.icon {
	/* 2 Block model */
	display: inline-block;
	width: 24px;
	height: 24px;

	/* 4 Visual */
	fill: #000000;
}
.icon--18 {
	/* 2 Block model */
	width: 18px;
	height: 18px;
}
.icon--32 {
	/* 2 Block model */
	width: 32px;
	height: 32px;
}
.icon--42 {
	/* 2 Block model */
	width: 42px;
	height: 42px;
}
/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation */

/* 6 Misc */
